<section class="help-desk">
  <div class="container">
    <h2>Alguma dúvida?</h2>
    <p>Entre em contato conosco através dos nossos canais de atendimento</p>
    <div class="row justify-content-center pt-3">
      <div class="help-option col-lg-3 col-md-4">
        <div class="icon">
          <i class="material-icons">phone</i>
        </div>
        <div class="text">
          <a href="">
            <h4>(11) XXXX-XXXX</h4>
          </a>
        </div>
      </div>
      <div class="help-option col-lg-3 col-md-4">
        <div class="icon">
          <i class="material-icons">chat</i>
        </div>
        <div class="text">
          <a href="">
            <p>Clique aqui para abrir nosso</p>
            <h4>Chat online</h4>
          </a>
        </div>
      </div>
      <div class="help-option col-lg-3 col-md-4">
        <div class="icon">
          <i class="material-icons">headset_mic</i>
        </div>
        <div class="text">
          <a href="">
            <p>Ver todas as opções de</p>
            <h4>Atendimento</h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>