@import '../../../scss/_variables';
@import '~bootstrap/scss/mixins';

.top-header {
    display: block;
    width: 100%;
    border-bottom: 1px solid $gray-100;
    font-size: .75rem;
    .nav-link {
        color: $gray-500;
    }
}

.search-input-wrapper {
    position: relative;
    width: 100%;
    #search-input {
        height: 40px;
        width: 350px;
        margin: 0;
        padding: 0 50px 0 15px;
        @include border-radius(100px);
        @include box-shadow(0 1px 8px 0 rgba(96,96,96,0.15));
        &::placeholder {
            color: $gray-500;
            font-size: .875rem;
            font-weight: 400;
        }
        &:focus {
            @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 0.2rem rgba(114, 86, 166, 0.25));
        }
    }
    #search-btn {
        position: absolute;
        right: 4px;
        top: 50%;
        transform: translateY(-50%);
        height: 32px;
        width: 32px;
        padding: 0;
    }
}