<section id="banner">
  <div class="container-fluid px-0">
    <ngb-carousel class="text-center">
      <ng-template ngbSlide>
        <img src="../../../assets/img/Slider.png" alt="Banner" class="img-fluid">
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section class="container" id="home-content">
  <div class="row">
    <div class="col-lg-11 mx-auto">
      <!-- PRODUTOS -->
      <section id="produtos">
          <div class="row">
            <div class="btn-group btn-group-toggle mx-auto mt-5 mb-4" ngbRadioGroup [(ngModel)]="model">
              <label class="btn-light btn-sm active" ngbButtonLabel>
                <input ngbButton type="radio" [value]="1"> Mais vendidos
              </label>
              <label class="btn-light btn-sm" ngbButtonLabel>
                <input ngbButton type="radio" [value]="false"> Lançamentos
              </label>
            </div>
          </div>
          <div class="row py-3">
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
            <div class="col-lg-3 col-sm-4 col-6">
              <app-product-card></app-product-card>
            </div>
          </div>
      </section>

      <!-- BOXES -->
      <section>

      </section>
    </div>
  </div>
</section>