<div class="product-card">
  <a [routerLink]="['/product-page']" class="card">
    <div class="card-img-top">
      <img src="https://via.placeholder.com/250x250" alt="" class="img-fluid">
      <div class="cta">
        <a name="" id="" class="btn btn-outline-primary" [routerLink]="['/product-page']" role="button">Veja mais</a>
      </div>
    </div>
    <div class="card-body text-center">
      <h6 class="card-title">Nome do produto</h6>
      <p class="card-text">
        <small>a partir de</small>
        R$ 9,90
      </p>
    </div>
  </a>
</div>