<section id="banner">
  <div class="container">
    <ngb-carousel class="text-center">
      <ng-template ngbSlide>
        <img src="../../../assets/img/Slider.png" alt="Banner" class="img-fluid">
      </ng-template>
    </ngb-carousel>
  </div>
</section>

<section id="produtos">
  <div class="container">
    <!-- <div class="row">
      <div class="btn-group mx-auto my-3" data-toggle="buttons">
        <label class="btn btn-light active">
          <input type="radio" name="" id="" autocomplete="off" checked>
          Mais vendidos
        </label>
        <label class="btn btn-light">
          <input type="radio" name="" id="" autocomplete="off">
          Lançamentos
        </label>
      </div>
    </div> -->
    <div class="row py-3">
      <div class="col-md-2 px-2">
        <div class="card">
          <img src="https://via.placeholder.com/225x225" alt="" class="card-img-top">
          <div class="card-body text-center">
            <h6 class="card-title">Nome do produto</h6>
            <p class="card-text">R$ 9,90</p>
          </div>
        </div>
      </div>
      <div class="col-md-2 px-2">
        <div class="card">
          <img src="https://via.placeholder.com/225x225" alt="" class="card-img-top">
          <div class="card-body text-center">
            <h6 class="card-title">Nome do produto</h6>
            <p class="card-text">R$ 9,90</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>