:host {
    display: flex;
    flex-direction: column;
    justify-items: stretch;
    height: 150vh;

    header, main, footer {
        flex-shrink: 0;
        position: relative;
    }

    main {
        flex: 1;
        flex-grow: 1;
        position: relative;
        z-index: 10;
    }

    footer {
        z-index: 1;
    }

    /deep/ router-outlet ~ * {
        width: 100%;
        height: 100%;
    }

}