<h5 class="modal-title">Já tenho cadastro</h5>
<hr>
<form action="">
  <div class="form-group">
    <label for="email"></label>
    <input type="text" name="email" id="email" class="form-control" placeholder="E-mail">

    <label for="senha"></label>
    <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
    <p class="text-right">
      <a href="#" class="small">Esqueci minha senha</a>
    </p>
  </div>
  <div class="form-actions">
    <button type="submit" class="btn btn-success d-block w-100" role="button">Entrar</button>
  </div>
</form>
<div class="row mt-4">
  <p class="mx-auto">Não tem conta? <a role="button" routerLink="../cadastro">Cadastre-se aqui.</a></p>
</div>