<div class="footer bg-dark">
  <div class="container py-2">
    <div class="row">
      <div class="container"></div>
      <div class="col-lg-3 col-md-6 order-0 text-center text-md-left">
        <ul class="footer-links">
          <h6>Produtos</h6>
          <li><a href="">Mais vendidos</a></li>
          <li><a href="">Lançamentos</a></li>
          <li><a href="">Categorias</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 order-1 text-center text-md-left">
        <ul class="footer-links">
          <h6>Omega Graphics</h6>
          <li><a href="">Sobre nós</a></li>
          <li><a href="">Política de Privacidade</a></li>
          <li><a href="">Termos de Uso</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6 order-2 order-md-0 order-lg-2 text-center text-md-right text-lg-left">
        <ul class="footer-links">
          <h6>Links Úteis</h6>
          <li><a href="">Gabaritos</a></li>
          <li><a href="">Tutoriais</a></li>
          <li><a href="">Contato</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6 order-3 text-center text-md-right">
        <ul class="footer-contact">
          <li><a href=""> <i class="fa fa-phone"></i> (11) XXXX-XXXX</a></li>
          <li><a href=""> <i class="fa fa-whatsapp"></i> (11) XXXX-XXXX</a></li>
          <li><a href="mailto:contato@omegagraphics.com.br">contato@omegagraphics.com.br</a></li>
          <li><span class="address">Av. General Mac Arthur, 1650 A - Jaguaré - São Paulo, SP</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 d-flex align-items-center justify-content-md-start justify-content-center py-2">
          <a [routerLink]="[ '/home' ]">
            <img src="../../../assets/img/OmegaGraphicsFooter.png" alt="" class="img-fluid">
          </a>
      </div>
      <div class="col-md-6 d-flex align-items-center justify-content-center py-2">
        <span class="copy">© 2018 Omega Graphics. Todos os direitos reservados.</span>
      </div>
      <div class="col-md-3 d-flex align-items-center justify-content-md-end justify-content-center py-2">
        <a href="#" class="mr-3">
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="#" class="mr-3">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
        <a href="#" class="mr-3">
          <i class="fa fa-google-plus" aria-hidden="true"></i>
        </a>
        <a href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
</div>